#animated-mathe-info {
	color: _palette(fg-bold);
	font-family: _font(family-heading);
	font-weight: _font(weight-heading-bold);
	letter-spacing: _font(kern-heading);
	margin: 0 0 (_size(element-margin) * 0.5) 0;
	text-transform: uppercase;
}
