name: Build Docker image
on:
  push

jobs:
  docker:
    name: Push to GitHub Container Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm install
        working-directory: ./fahrplan
      - run: |
          npm run build
          npm run export
          mv out ../static/fahrplan
        working-directory: ./fahrplan
        env:
          ICAL_URL: https://calendar.google.com/calendar/ical/903e162de81a5fbd1a1777760f8858ff6c2555398b8a1649f7bc86ccd6e2845a%40group.calendar.google.com/public/basic.ics
          NEXT_PUBLIC_BASE_PATH: /fahrplan
      - run: mv fahrplan/out static/fahrplan
      - run: ls -la static
      - run: ls -la static/fahrplan
      - run: exit 1
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v4
        with:
          images: "ghcr.io/${{ github.repository }}"
          tags: |
            type=sha
            type=ref,event=branch
          flavor: |
            latest=true
      - name: "Setup Docker Buildx"
        uses: "docker/setup-buildx-action@v1"
      - name: "Login to ghcr.io"
        uses: "docker/login-action@v1"
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Build and push to registry"
        uses: "docker/build-push-action@v2"
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
